<div id="introRose">
	<div>
		<h1 style="text-align: center;"> Welcome to the beginning of Bloom</h1>
		<img src="pics/rose1.jpg">

		<button class="btn btn-danger" ng-click="openSplashModal('js/views/sign-up-modal.html', 'signUpModalCtrl')" >Sign Up</button>
		<button class="btn btn-danger" ng-click="openSplashModal('js/views/sign-in-modal.html', 'signInModalCtrl')">Sign In</button>
		<button class="btn btn-default" ><a ui-sref="buVideo">Video Chat</a></button>
	</div>
</div>