<div id="videoChat">
	 <h1>How do you look?</h1>

  <video autoplay></video>




	<h1>This is a Video Chat</h1>
	<p>This is where you will implement video chat</p>
<script type="text/javascript" src="js/stream.js"></script>
</div>