

h2, h1 {
	color: black;
	text-align: center;
	font-family: 'Indie Flower'
}

p {
	font-family: 'Oswald'
}

body{
	background-color: black;
	background-image: url('./pics/front.jpg');
	background-repeat: repeat-y;
}

#header {
	background-color: white;
	width: 97%;
	position: fixed;
}

#header ul {
	margin-left: auto;
	margin-right: auto;

}

#header li {
	display: inline;
}

.sp {
	margin-top: 5px;
}

#contain{
	margin-top: 10px;
	background-color: #f0f4f5;
	color: #8c9099;
}

#banner {

}

.end{
	margin-bottom: 10px;
}

